/******************** GENERAL ************************/

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* La div avec les titres h2 et les petites icones */

.titre {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Images à coté des titres */

.titre .chapeau,
.titre .rouage,
.titre .ampoule,
.titre .palette {
    width: 50px;
    height: 45px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}


/* Titre h2 mais pas ceux des modals */

.titre h2 {
    text-align: center;
    padding: 1em 0;
    text-align: center;
    overflow: hidden;
    font-size: 170%;
    letter-spacing: 2px;
    background: linear-gradient(to right, #222f51, #8dcaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*****************************HEADER**********************/

header {
    text-align: center;
    height: 100%;
    width: 100%;
}


/****** Navigation ******/

nav {
    margin-bottom: 6.5%;
    overflow: hidden;
    animation-name: descend;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes descend {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes descend {
    0% {
        -moz-transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes descend {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

li {
    display: inline-block;
    margin-left: 2.3%;
    margin-right: 2.3%;
    color: #222f51;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #222f51;
    font-size: 100%;
}

#menuInitial li a {
    font-size: 135%;
}

ul li a:hover {
    color: #8dcaff;
}


/*** Image Logo DUPUIS AURELIEN ***/

.Logo {
    vertical-align: middle;
    width: auto;
    animation: boomboom 1.4s infinite;
    margin-bottom: 2%;
}


/* Animation Logo */

@keyframes boomboom {
    0% {
        transform: scale(1.7);
    }
    10% {
        transform: scale(1.9);
    }
    15% {
        transform: scale(1.7);
    }
    20% {
        transform: scale(1.9);
    }
    25% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.7);
    }
}


/****** Menu de droite fixed **********/


/* Visuel de base */

.TéléchargerHeader,
.TelHeader,
.MailHeader,
.AdresseHeader {
    width: 55%;
    margin-left: 94.5%;
    text-align: start;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 11001;
    background-color: white;
    transition: ease-in;
    transition-duration: 0.5s;
}


/* HOVER */

.TéléchargerHeader:hover {
    margin-left: 78%;
    transition: ease-in;
    transition-duration: 0.9s;
}

.TelHeader:hover {
    margin-left: 80%;
    transition: ease-in;
    transition-duration: 0.9s;
}

.MailHeader:hover {
    margin-left: 68%;
    transition: ease-in;
    transition-duration: 1.6s;
}

.AdresseHeader:hover {
    margin-left: 80%;
    transition: ease-in;
    transition-duration: 0.9s;
}


/* IMAGE */

.TéléchargerHeader img {
    width: 60px;
    height: 60px;
    text-align: start;
    margin-left: -5%;
}

.TelHeader img,
.MailHeader img,
.AdresseHeader img {
    width: 50px;
    height: 50px;
    text-align: start;
    margin-left: 4px;
}


/* SEPARATEUR */

.hrblanc {
    color: #222f51;
    margin-left: 3%;
    margin-right: 3%;
}


/* Positionnement */

.TéléchargerHeader {
    margin-top: -6%;
}

.TelHeader {
    margin-top: 0%;
}

.MailHeader {
    margin-top: 6%;
}

.AdresseHeader {
    margin-top: 12%;
}


/* ECRITURE */

.TéléchargerHeader a,
.TelHeader a,
.MailHeader a {
    text-decoration: none;
    color: #222f51;
    font-size: 140%;
}

.AdresseHeader p {
    text-decoration: none;
    color: #222f51;
    font-size: 140%;
}

.écriture {
    padding-top: 2%;
}

.AdresseHeader .écriture {
    padding-top: 0%;
}


/****** Menu Hamburger ******/


/* Affichage de base */

#menuDéroulant {
    position: relative;
    top: 40px;
    left: 40px;
    display: none;
}


/* Mon logo Dupuis Aurélien */

#menuDéroulant img {
    position: relative;
    top: -60px;
}


/* Texte du menu */

#menuDéroulant a {
    text-decoration: none;
    color: #232323;
}


/* Texte du menu avec souris dessus */

#menuDéroulant a:hover {
    color: red;
}

#menuDéroulant input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/* Visuel du hamburger */

#menuDéroulant span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #222f51;
    border-radius: 3px;
    z-index: 1;
}


/* Menu arrivant du hamburger */

#menu {
    width: 300px;
    height: 240px;
    margin: -50px 0 0 -50px;
    padding: 10px;
    border-radius: 0px 50px 50px 0;
    background: rgba(181, 216, 246, 0.95);
    transform-origin: 0% 0%;
    transform: translate(-105%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
    padding: 10px 10px;
    font-size: 18px;
}


/*
 * And let's slide it in from the left
 */

#menuDéroulant input:checked~ul {
    transform: none;
}


/************************HEADER_IMAGE**********************/


/* modifier la margin top ? avec et sans le clique sur le hamburger à partir de 768 px */


/* div avec les 2 ombres et ma photo */

header .photo_de_moi {}


/* Ombre Montdidier */

header .Montdidier {
    width: 220px;
    height: 315px;
    top: 0px;
    right: 0px;
    z-index: 40;
    animation: verslagauche 3.5s 1;
}

@keyframes verslagauche {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Ma photo */

header .Moi {
    width: 220px;
    height: 350px;
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 0.2%;
    margin-left: -3%;
    margin-right: -3%;
    z-index: 99;
    animation-name: Apparition1;
    animation-duration: 7s;
}

@keyframes Apparition1 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


/* Ombre Fréjus */

header .Fréjus {
    width: 220px;
    height: 315px;
    top: 0px;
    right: 0px;
    z-index: 13;
    animation: versladroite 3.5s 1;
}

@keyframes versladroite {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


/***********************HEADER_Métier*********************/

header .Métier {
    width: 50%;
    height: auto;
    background-color: #222f51;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: white;
    animation-name: grand;
    animation-fill-mode: both;
    animation-delay: 2.5s;
    animation-duration: 1.5s;
    margin-top: -2.5%;
    z-index: 3200;
    position: relative;
}

#auto_text {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3300;
    position: relative;
}


/*********************QUI_suis-je ?**********************/

#présentation {
    color: #222f51;
    display: flex;
    flex-direction: row;
    margin: 5% 5% 0%;
}


/*************************Droite************************/

.qui {
    width: 60%;
    margin-right: 5%;
    text-align: justify;
}

.qui p {
    font-size: 160%;
}

.droite {
    width: 25%;
    margin-top: 10%;
}

hr .avant {
    width: 1%;
}


/*************5 Bonnes raisons de me choisir************/

.flip-box1 {
    width: 100%;
    height: 300px;
    perspective: 1000px;
    /* Pour avoir l'effet 3D */
}


/* Pour faire la rotation et définir de devant et l'arriére */

.flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Rotation horizontale avec le hover*/

.flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
}


/* Positionner l'avant et l'arriére */

.flip-box-front1,
.flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-box-back1 {
    background-color: #222f51;
    color: #8dcaff;
    border-top: 50px solid #8dcaff;
    transform: rotateY(180deg);
}

.raisons {
    border-top: 50px solid #8dcaff;
    box-shadow: 2px 2px 20px darkgray;
    font-size: 140%;
    margin-top: 20%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 250%;
    height: 360px;
}

.qualités {
    border-top: 50px solid #8dcaff;
    box-shadow: 2px 2px 20px darkgray;
    font-size: 170%;
    margin-top: 20%;
    height: 360px;
}


/*********************En savoir plus**********************/

.raisons p {
    float: right;
    padding-right: 3%;
    font-size: 70%;
}

.raisons:hover p {
    color: #7dc2ff;
}


/*********************A propos (voir CSS MODAL1)***********************/


/****************** FORMATIONS **********************/


/*** TITRE ***/


/****** block1 ******/

.block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


/*** Les 4 blocks ***/

.DevWeb,
.MNS,
.EPS,
.BAC {
    border: #8dcaff dotted 2px;
    width: 40%;
    margin: 2%;
    padding: 2%;
    padding-top: 1%;
}


/*** Images ***/

.block1 .image {
    background-size: cover;
    height: 280px;
    max-width: 100%;
}

.DevWeb .image {
    background-image: url(../image/formations/ChateauFréjus.jpg);
}

.MNS .image {
    background-image: url(../image/formations/FormationSud.jpg);
}

.EPS .image {
    background-image: url(../image/formations/JulesVerne.jpg);
}

.BAC .image {
    background-image: url(../image/formations/LycéeMontdidier.jpg);
}


/*** Rectangle gris et Année ***/

.DevWeb .image .année,
.MNS .image .année,
.EPS .image .année,
.BAC .image .année {
    background-color: rgb(128, 128, 128);
    width: 80px;
    height: 50px;
}

.DevWeb .image .année h3,
.MNS .image .année h3,
.EPS .image .année h3,
.BAC .image .année h3 {
    padding-top: 20%;
    text-align: center;
}


/*** VIE (voir MODAL2) ***/


/************************ COMPETENCES ************************/


/*** TITRE ***/


/* IMAGE */

.Techniques img {
    width: 200PX;
    height: 200px;
}

.Humaines img {
    width: 200PX;
    height: 200px;
}


/************************ CONNAISSANCES ************************/


/*** TITRE ***/


/****** block2 ******/

.block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*** Outils Développement ***/

.flip-box2 {
    width: 28%;
    height: 400px;
    perspective: 1000px;
    /* Pour avoir l'effet 3D */
    margin-left: 2%;
    margin-right: 2%;
}


/* Pour faire la rotation et définir de devant et l'arriére */

.flip-box-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Rotation horizontale avec le hover*/

.flip-box2:hover .flip-box-inner2 {
    transform: rotateY(180deg);
}


/* Positionner l'avant et l'arriére */

.flip-box-front2,
.flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Devant */

.Développement {
    background-image: url(../image/connaissances/OutilsDev.jpg);
    background-size: cover;
}

.Web {
    background-image: url(../image/connaissances/OutilsWeb.jpg);
    background-size: cover;
}

.Informatique {
    background-image: url(../image/connaissances//OutilsInformatique.jpg);
    background-size: cover;
}


/* Devant petit rectangle */

.outils {
    height: 20%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
}

.outils h3 {
    font-size: 150%;
    color: #222f51;
    padding-top: 1%;
    margin: auto;
}


/* Dérriére */

.flip-box-back2 {
    background-color: #222f51;
    color: #8dcaff;
    transform: rotateY(180deg);
}

.flip-box-back2 img {
    width: 80px;
    height: 80px;
    margin: 2%;
}

.flip-box-back2 img:hover {
    width: 100px;
    height: 100px;
}


/************************ REALISATIONS & PASSIONS ************************/


/*** TITRE ***/


/*** TEXTE ***/

#R_et_P h3 {
    text-align: center;
    color: #8dcaff;
    font-size: 150%;
}


/*** BLOCK3 ***/

.block3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* .image:hover .année {
background-color: rgba(128, 128, 128, 0.6);
width: 100%;
height: 100%;
margin-left: 0%;

}
*/


/*** JEUX VIDEO ***/

.JeuxVidéo {
    width: 30%;
    height: 300px;
    box-shadow: 20px 20px 20px rgb(117, 112, 112);
}

.JeuxVidéo img {
    width: 100%;
    height: 100%;
}


/*** JUDO ***/

.Judo {
    width: 30%;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 20px 20px 20px rgb(117, 112, 112);
    overflow-y: hidden;
}

.Judo img {
    width: 100%;
    height: 120%;
}


/*** BIENFAITS DU SPORT ***/

.BienfaitsDuSport {
    width: 30%;
    height: 300px;
    box-shadow: 20px 20px 20px rgb(117, 112, 112);
}

.BienfaitsDuSport img {
    width: 100%;
    height: 100%;
}


/*** BOUTON ***/

button {
    text-align: center;
    text-decoration: none;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1%;
    font-size: small;
    border-radius: 15px;
    border: #a8d3f8 2px solid;
    background-color: white;
}

button:hover {
    background-color: #a8d3f8;
}

button a {
    text-decoration: none;
    color: #222f51;
    font-size: large;
}


/************************ FOOTER ************************/

footer {
    background-color: #222f51;
    color: white;
    padding: 2% 3% 0%;
}


/********* BLOCK4 *********/

.block4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}


/****** block4a ******/

.block4a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 55%;
}


/*** Colone 1 ***/

.information {
    width: 35%;
}

.information h3 {}


/*** Colone 2 ***/

.contact {
    width: 65%;
    margin-top: 2%;
}

.contact .adresse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .adresse img {
    width: 40px;
    height: 40px;
    margin-right: 3%;
}

.contact .téléphone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .téléphone img {
    width: 40px;
    height: 40px;
    margin-right: 3%;
}

.contact .mail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .mail img {
    width: 40px;
    height: 40px;
    margin-right: 3%;
}


/****** Block4b ******/

.block4b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 45%;
}


/*** Colone 3 ***/

.CV {
    width: 50%;
    margin-left: none;
}

.CV h3 {}

.CV .documents {}

.CV .documents .word {
    width: 40px;
    height: 40px;
    margin-right: 10%;
}

.CV .documents .pdf {
    width: 70px;
    height: 70px;
}


/*** Colone 4 ***/

.RESEAUX {
    width: 50%;
}

.RESEAUX h3 {}

.RESEAUX .sociaux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.RESEAUX .sociaux .github {
    width: 40px;
    height: 40px;
}

.RESEAUX .sociaux .image1 {
    margin-right: 15%;
}

.RESEAUX .sociaux .github:hover {
    width: 60px;
    height: 60px;
}

.RESEAUX .sociaux .linkedIn {
    width: 40px;
    height: 40px;
}

.RESEAUX .sociaux .linkedIn:hover {
    width: 60px;
    height: 60px;
}


/*** Copyright et droit ***/

.C_et_D {
    margin-left: 1%;
}