/*** <899  -  <1024 ***/


/* <1024 */

@media screen and (max-width: 1024px) {
    li {
        font-size: 60%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        margin-left: 92%;
    }
    .TéléchargerHeader:hover {
        margin-left: 69%;
    }
    .TelHeader:hover {
        margin-left: 72%;
    }
    .MailHeader:hover {
        margin-left: 55%;
    }
    .AdresseHeader:hover {
        margin-left: 73%;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 11%;
    }
    .MailHeader {
        margin-top: 20%;
    }
    .AdresseHeader {
        margin-top: 29%;
    }
    #auto_text {
        font-size: 170%;
    }
    #qui {
        color: #222f51;
        margin-left: 5%;
        margin-right: 10%;
        font-size: 55%;
    }
    .DroiteRaisons {
        margin-left: 5%;
    }
    .GaucheQui {
        font-size: 120%;
    }
    /* Devant */
    .raisons {
        height: 260px;
        font-size: 120%;
    }
    /* derrière */
    .qualités {
        height: 300px;
    }
    .oModal section {
        flex-direction: column;
    }
    footer {
        padding: 1% 0% 0%;
    }
    /*** BLOCK4 ***/
    .block4a {
        width: 70%;
    }
    .block4b {
        width: 30%;
        flex-direction: column;
    }
    .CV,
    .RESEAUX {
        width: 100%;
    }
}


/* <899 */

@media screen and (max-width: 899px) {
    .titre img {
        display: none;
    }
    li {
        font-size: 60%;
        margin-left: 2%;
        margin-right: 1.5%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        margin-left: 91%;
    }
    .TéléchargerHeader:hover {
        margin-left: 64%;
    }
    .TelHeader:hover {
        margin-left: 68%;
    }
    .MailHeader:hover {
        margin-left: 48%;
    }
    .AdresseHeader:hover {
        margin-left: 69%;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 11%;
    }
    .MailHeader {
        margin-top: 20%;
    }
    .AdresseHeader {
        margin-top: 29%;
    }
    header .Métier {
        margin-top: -3.3%;
        width: 85%;
    }
    #auto_text {
        font-size: 150%;
    }
    li {
        font-size: 60%;
        margin-left: 2%;
        margin-right: 1.5%;
    }
    #qui {
        font-size: 75%;
    }
    .ouverture {
        width: 50%;
    }
    .block2 {
        flex-direction: column;
    }
    .flip-box2 {
        width: 90%;
        margin-bottom: 3%;
        height: 400px;
    }
    .block3 {
        flex-direction: column;
    }
    .JeuxVidéo,
    .Judo,
    .BienfaitsDuSport {
        width: 100%;
        margin: auto;
    }
}