/*** <1149  -  <1280 ***/


/* <1280 */

@media screen and (max-width: 1280px) {
    li {
        font-size: 80%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        right: -49vw;
    }
    .TéléchargerHeader:hover {
        right: -30vw;
    }
    .TelHeader:hover {
        right: -33vw;
    }
    .MailHeader:hover {
        right: -19vw;
    }
    .AdresseHeader:hover {
        right: -24vw;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 10%;
    }
    .MailHeader {
        margin-top: 18%;
    }
    .AdresseHeader {
        margin-top: 26%;
    }
    .ouverture {
        margin-top: 0%;
    }
}


/* <1149 */

@media screen and (max-width: 1149px) {
    li {
        font-size: 80%;
        margin-left: 2%;
        margin-right: 2%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        right: -49vw;
    }
    .TéléchargerHeader:hover {
        right: -27vw;
    }
    .TelHeader:hover {
        right: -31vw;
    }
    .MailHeader:hover {
        right: -15vw;
    }
    .AdresseHeader:hover {
        right: -20vw;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 10%;
    }
    .MailHeader {
        margin-top: 18%;
    }
    .AdresseHeader {
        margin-top: 26%;
    }
    header .Métier {
        margin-top: -3%;
        width: 70%;
    }
    footer {
        padding: 1% 0.8% 0%;
    }
}