/*** <899  -  <1024 ***/


/* <1024 */

@media screen and (max-width: 1024px) {
    li {
        font-size: 60%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        margin-left: 92%;
    }
    .TéléchargerHeader:hover {
        margin-left: 69%;
    }
    .TelHeader:hover {
        margin-left: 72%;
    }
    .MailHeader:hover {
        margin-left: 55%;
    }
    .AdresseHeader:hover {
        margin-left: 73%;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 11%;
    }
    .MailHeader {
        margin-top: 20%;
    }
    .AdresseHeader {
        margin-top: 29%;
    }
    #auto_text {
        font-size: 170%;
    }
    #présentation {
        color: #222f51;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 10%;
    }
    /*************************Droite************************/
    .qui {
        font-size: 160%;
        width: 100%;
    }
    .droite {
        width: 100%;
        margin-top: -20%;
        margin-bottom: 0%;
    }
    .flip-box1 {
        height: 300px;
    }
    .qualités {
        font-size: 170%;
        margin-top: 20%;
        height: 400px;
    }
    /*********************En savoir plus**********************/
    .raisons p {
        font-size: 70%;
    }
    footer {
        padding: 1% 0% 0%;
    }
    /*** BLOCK4 ***/
    .block4 {
        flex-direction: column;
    }
}


/* <899 */

@media screen and (max-width: 899px) {
    li {
        font-size: 60%;
        margin-left: 2%;
        margin-right: 1.5%;
    }
    /****** Menu de droite ******/
    .TéléchargerHeader,
    .TelHeader,
    .MailHeader,
    .AdresseHeader {
        margin-left: 91%;
    }
    .TéléchargerHeader:hover {
        margin-left: 64%;
    }
    .TelHeader:hover {
        margin-left: 68%;
    }
    .MailHeader:hover {
        margin-left: 48%;
    }
    .AdresseHeader:hover {
        margin-left: 69%;
    }
    .TéléchargerHeader {
        margin-top: 2%;
    }
    .TelHeader {
        margin-top: 11%;
    }
    .MailHeader {
        margin-top: 20%;
    }
    .AdresseHeader {
        margin-top: 29%;
    }
    #auto_text {
        font-size: 150%;
    }
    li {
        font-size: 60%;
        margin-left: 2%;
        margin-right: 1.5%;
    }
    .block2 {
        flex-direction: column;
    }
    .flip-box2 {
        width: 90%;
        margin-bottom: 3%;
        height: 400px;
    }
    .block3 {
        flex-direction: column;
    }
    .JeuxVidéo,
    .Judo,
    .BienfaitsDuSport {
        width: 100%;
        margin: auto;
    }
}