        /*** <320  -  <479   -   <768 ***/
        /* <768 */
        
        @media screen and (max-width: 768px) {
            #menuDéroulant {
                display: block;
            }
            .Logo {
                display: none;
            }
            #menuInitial {
                display: none;
            }
            #menu {
                height: 310px;
            }
            ul li img {
                width: 170%;
            }
            /****** Menu de droite ******/
            .TéléchargerHeader,
            .TelHeader,
            .MailHeader,
            .AdresseHeader {
                display: none;
            }
            header .photo_de_moi {
                margin-top: -10%;
            }
            header .Montdidier,
            header .Fréjus {
                width: 137px;
                height: 197px;
            }
            header .Moi {
                width: 137px;
                height: 218px;
            }
            header .Métier {
                width: 90%;
                margin-top: -4.2%;
                height: auto;
            }
            #auto_text {
                font-size: 130%;
            }
            .qui {
                flex-direction: column;
                font-size: 100%;
                margin-right: 5%;
            }
            /* Texte de présentation */
            .GaucheQui {
                width: 100%;
                margin-right: 5%;
                margin-left: 5%;
            }
            /* Les raisons de me choisir */
            .DroiteRaisons {
                width: 60%;
                margin: auto;
            }
            .qualités {
                margin-top: 5%;
            }
            .flip-box1 {
                display: none;
            }
            /* Devant */
            .raisons {
                height: 200px;
            }
            .raisons h2 {
                font-size: 100%;
            }
            .raisons p {
                font-size: 50%;
                float: none;
            }
            .BasQualités {
                display: block;
            }
            .BasQualités .sous-titre {
                background-color: #8dcaff;
            }
            .T_H {
                flex-direction: column;
                margin-left: 30%;
            }
            .block4 {
                flex-direction: column;
            }
            .block4a {
                flex-direction: column;
                padding-left: 20%;
                width: 100%;
                text-align: start;
            }
            .information {
                width: 100%;
                padding-left: 20%;
            }
            .contact {
                width: 100%;
            }
            #R_et_P .contacter {
                width: 30%;
            }
            .block4b {
                flex-direction: row;
                width: 100%;
            }
            .CV,
            .RESEAUX {
                width: 50%;
            }
        }
        /* <479 */
        
        @media screen and (max-width: 479px) {
            #menuDéroulant {
                display: block;
            }
            #menuInitial {
                display: none;
            }
            ul li img {
                width: 150%;
            }
            /****** Menu de droite ******/
            .TéléchargerHeader,
            .TelHeader,
            .MailHeader,
            .AdresseHeader {
                display: none;
            }
            header .Montdidier,
            header .Fréjus {
                width: 95px;
                height: 137px;
            }
            header .Moi {
                width: 95px;
                height: 151px;
            }
            header .Métier {
                width: 100%;
                margin-top: -6%;
                height: auto;
            }
            #auto_text {
                font-size: 120%;
            }
            #menu {
                width: 200px;
                height: 280px;
                padding: 20px;
            }
            #menu li {
                padding: 10px 0;
                font-size: 15px;
            }
            .qui {
                font-size: 90%;
            }
            .qualités {
                width: 100%;
            }
            .raisons h2 {
                font-size: 80%;
            }
            .raisons p {
                font-size: 50%;
            }
            .ouverture {
                width: 48%;
                font-size: large;
            }
            .ouverture2 {
                width: 40%;
                font-size: large;
            }
            .block1 {
                flex-direction: column;
            }
            .DevWeb,
            .MNS,
            .EPS,
            .BAC {
                width: 90%;
            }
            .outils {
                width: 80%;
            }
            .block4a {
                padding-left: 10%;
                margin-right: 3%;
            }
            .information {
                padding-left: 10%;
            }
            .contact {
                width: 90%;
            }
            #R_et_P .contacter {
                width: 50%;
            }
            #R_et_P .contacter a {
                font-size: medium;
            }
            .block4 h4 {
                font-size: 70%;
            }
        }
        /* <320 */
        
        @media screen and (max-width: 320px) {
            #menuDéroulant img {
                width: 50%;
                top: -50px;
            }
            header .Montdidier,
            header .Fréjus {
                display: none;
            }
            header .Moi {
                width: 143px;
                height: 226px;
                margin-bottom: -1%;
            }
            .DroiteRaisons {
                width: 85%;
            }
            .raisons h2 {
                font-size: 80%;
            }
            .raisons p {
                font-size: 40%;
                margin-top: -20%;
            }
            .information {
                padding-left: 5%;
            }
            #R_et_P .contacter {
                width: 60%;
            }
        }