
/*---------------------------------ECRITURE------------------------------------*/

body {
	background: url(image/font1.jpeg);
	color: white;
}

h1 {
	color: white;
	padding-top: 4%;
	font-size: 250%;
	text-shadow: 0.1em 0.2em 0.05em black;
	animation: venue 3s;
}
@keyframes venue {
	from {width:300%; margin-left: 100%;}
	to {width:100%; margin-left: 0%;}
}

h2 {
	color: white;
	padding-top: 2%;
	font-size: 210%;
	text-transform: capitalize;
	font-style: oblique;
	animation: viens 3s;
}
@keyframes viens {
	from {width:300%; margin-left: 250%;}
	to {width:100%; margin-left: 0%;}
}

h3 {
	color: rgb(255,140,0);
	text-align: center;
	font-size: 140%;
	text-transform: uppercase;
	animation: texte 5s forwards;
}
@keyframes texte {
  from {color: yellow;}
  to {color: purple;}
}

h3:hover {
	animation: textesouris 3s 1 forwards;
}
@keyframes textesouris {
  from {color: red;}
  to {color: black;}
}

p {
	font-size: 140%;
}

/*-----------------------------Animation du lien--------------------------*/

b.t {
	animation: t 3.2s infinite alternate;
}
@keyframes t {
	from {color: black;}
	to {color: white;}
}

b.é {
	animation: é 3.2s infinite alternate;
	animation-delay: 0.2s;
}
@keyframes é {
	from {color: black;}
	to {color: white;}
}

b.l {
	animation: l 3.2s infinite alternate;
	animation-delay: 0.4s;
}
@keyframes l {
	from {color: black;}
	to {color: white;}
}

b.éé {
	animation: éé 3.2s infinite alternate;
	animation-delay: 0.6s;
}
@keyframes éé {
	from {color: black;}
	to {color: white;}
}

b.c {
	animation: c 3.2s infinite alternate;
	animation-delay: 0.8s;
}
@keyframes c {
	from {color: black;}
	to {color: white;}
}

b.h {
	animation: h 3.2s infinite alternate;
	animation-delay: 1s;
}
@keyframes h {
	from {color: black;}
	to {color: white;}
}

b.a {
	animation: a 3.2s infinite alternate;
	animation-delay: 1.2s;
}
@keyframes a {
	from {color: black;}
	to {color: white;}
}

b.r {
	animation: r 3.2s infinite alternate;
	animation-delay: 1.4s;
}
@keyframes r {
	from {color: black;}
	to {color: white;}
}

b.g {
	animation: g 3.2s infinite alternate;
	animation-delay: 1.6s;
}
@keyframes g {
	from {color: black;}
	to {color: white;}
}

b.e {
	animation: e 3.2s infinite alternate;
	animation-delay: 1.8s;
}
@keyframes e {
	from {color: black;}
	to {color: white;}
}

b.rr {
	animation: rr 3.2s infinite alternate;
	animation-delay: 2s;
}
@keyframes rr {
	from {color: black;}
	to {color: white;}
}

b.m {
	animation: m 3.2s infinite alternate;
	animation-delay: 2.2s;
}
@keyframes m {
	from {color: black;}
	to {color: white;}
}

b.o {
	animation: o 3.2s infinite alternate;
	animation-delay: 2.4s;
}
@keyframes o {
	from {color: black;}
	to {color: white;}
}

b.n {
	animation: n 3.2s infinite alternate;
	animation-delay: 2.6s;
}
@keyframes n {
	from {color: black;}
	to {color: white;}
}

b.cc {
	animation: cc 3.2s infinite alternate;
	animation-delay: 2.8s;
}
@keyframes cc {
	from {color: black;}
	to {color: white;}
}

b.v {
	animation: v 3.2s infinite alternate;
	animation-delay: 3s;
}
@keyframes v {
	from {color: black;}
	to {color: white;}
}

/*---------------------------------STYLE DE LISTE----------------------------------*/

ul {
	list-style-type: square;
}

/*---------------------------------Partie 1------------------------------------*/

header {
	text-align: center;
	background: url(image/font.jpg) no-repeat;
	background-size: 200% auto;
	height: 400%;
	margin: none;
	overflow: hidden;
	position: relative;
	padding-bottom: 10%;
}

.pdf {
	color: white;
	float: right;
	font-size: 130%;
	border: 10px dotted white;
	padding: 5px;
	box-sizing: border-box;
	text-decoration: none;
}

.pdf:hover {
	color: purple;
	text-decoration: underline;
}

 /*---------------------------------Partie 1/2 (photo)------------------------------------*/

.photo {
	width:180px;
  	height:200px;
  	border-radius: 95px;
  	overflow: hidden;
  	z-index: 2;	
  	position: absolute;
  	margin-top: -15%;
}

/*---------------------------------Partie 2------------------------------------*/

.sommaire{
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	background: rgb(0, 51, 102);
  	height: 120%;
  	max-height: 100%;
  	font-size: 140%;
  	position: relative;
  	padding-top: 5%;
 }

 /*---------------------------------Partie 2 (A-B-C-D)------------------------------------*/

.moi {
	width: 40%; 
	padding-left: 5.5%;
}

.milieu {
	width: 20%;
	display: flex;
  	justify-content: center;
}

.adresse {
	width: 40%;
	padding-left: 5.5%;
}

.fondcontact {
  	background: rgb(0, 51, 102);
  	overflow: hidden;
  	position: relative;
  	margin-top: -5%;
}

.contact {
  	animation: déroulement 16s infinite linear;
  	font-size: 140%;
}
@keyframes déroulement {
	from {width:100%; margin-left: 100%;}
	to {width:100%; margin-left: -50%;}
}

.contact a:link {
	color: rgb(159, 208, 240);
}

.numéro, .mail {
	text-align: center;
}

 /*---------------------------------PARTIE 3 (la navigation)---------------------------------*/

.nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: rgb(0, 0, 55);
	margin-top: -2%
}

.MENU {
	text-align: center; 
	background: rgb(0, 0, 55);
	font-size: 140%;
	margin-top: -2.5%;
	padding-top: 1%;
}

/*----------------------------------Les images "ancre"---------------------------------*/

.compétences, .expériences, .formations, .savoirs, .qualités, .intérêts {
	width: 210px;
	height: 130px;
	margin: 0px 2px;
	border-top-right-radius: 70px;
	border-top-left-radius: 70px;
}

 /*---------------------------------PARTIE 4 (les blocs)----------------------------------*/


#compétences, #expériences, #formations, #savoirs, #qualités, #intérets {
	background: rgb(0, 122, 153);
	padding: 0.2% 1%;
	box-shadow: 20px 20px 40px rgb(0 ,122, 225); 
	width: 80%;
	margin-top: 4%;
	margin-left: 10%;
	outline: blue inset 0.7rem;
	box-sizing: border-box;
	font-size: 90%;

}

 /*---------------------------------PARTIE 4 (A)------------------------------------*/


#compétences {
	line-height: 160%;
}

 /*---------------------------------PARTIE 4 (B)------------------------------------*/


#expériences {
	line-height: 2;
	font-size: 90%;
}

.expétout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.expé1 {
	margin-right: 1%;
	width: 48.5%;
}

.expé2 {
	width: 48.5%;
}

 /*---------------------------------PARTIE 4 (C)------------------------------------*/


#formations {
	line-height: 2;
}

 /*---------------------------------PARTIE 4 (D)------------------------------------*/



.sav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.HTML, .CSS, .WORD, .EXCEL, .POWERPOINT {
	margin-right: 8%;
}

 /*---------------------------------PARTIE 4 (E)------------------------------------*/


.listing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.esprit, .rigueur, .autonomie, .polyvalence {
	margin-right: 11%;
}

 /*---------------------------------PARTIE 4 (F)------------------------------------*/



 /*---------------------------------PARTIE 5 (pied de page)-------------------------------*/


footer {
	background: rgb(0, 51, 102);
	margin-top: 2%;
	font-size: 130%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap,
}

.formulaire1 {
	width: 50%;
	text-align: center;
}

 /*---------------------------------PARTIE 5 (A)------------------------------------*/

.formulaire2 {
	list-style-type: none;
	font-size: 80%;
}

 /*---------------------------------PARTIE 5 (B)------------------------------------*/

.signature {
	width: 40%;
	text-align: center;
	padding-top: 6%;
}


 /*---------------------------------Media queries-------------------------------*/



@media screen and (max-width: 870px){

	footer {
	display:flex;
	flex-direction: column;}}